body {
}
img.taskTitleImage{
	float:left;
}
#taskListView h1{
	float:left;
}
.tabBar{
	margin: auto;
	min-width:210px;
}

.tabBar li{
	min-width:50px;
}

/* dynamic height for map */
#map_canvas{
	position:absolute;top:40px;bottom:40px;left:0;right:0;
}
