body {
}
img.taskTitleImage{
	float:left;
}
#taskListView h1{
	float:left;
}
.tabBar{
	margin: auto;
	min-width:210px;
}

.tabBar li{
	min-width:50px;
}

/* dynamic height for map */
#map_canvas{
	position:absolute;top:40px;bottom:40px;left:0;right:0;
}

#setup_check_list .mblListItemIcon{
		margin-right: 20%;
		margin-left: 10%;
}
#setup_check_list .mblListItemIcon img{
		width: 40px;
		height: 40px;
}

#setup_check_list .mblListItem{
	line-height: 63px;
	height: 63px;
}

#setup_check_list .mblListItemRightIcon{
	margin-right: 10%;
}
	
#startGameBtn {
	text-align: center;
	font-weight: bold;
	height: 45px;
	font-size: 1.1em;
	line-height: 45px;
	width: 100%;
}
.taskDetails{
	width: 80%;
	margin: 5px auto;	
}

.questionOption{
	margin: 2px;
	padding: 5px;
}

.questionOption label{
	margin-left: 5%;
}

.checkpoint{
	margin: 2px;
	padding: 5px;
}

.checkpoint span{
	margin-left: 5%;
}

.checkpoint span .reached{
	color : green;
}
	
#taskListViewTitle{
	margin-left: 9px;
}

.map_view_prompt{
	margin:5px;
}

.activity_completed{
	text-decoration:line-through
}
